@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #404242;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px -10 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 0 0 10px 10px;
}

.nav__inner {
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo svg {
  height: 30px;
}

.nav__logo span {
  color: #58A9A5;
  font-weight: 700;
  font-size: 20px;
}

.nav__items {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav__item {
  font-size: 16px;
  margin-right: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}

.nav__item-link {
  text-decoration: none;
  color: #404242;
}

.nav__item-link.active {
  font-weight: 700;
  color: #58A9A5;
  position: relative;
}

.nav__item-link.active::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 4px;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FEC62D;
  border-radius: 21px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:hover {
  font-weight: 700;
}

.nav__button {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 15px 45px;
  border-radius: 15px;
  background-color: #58A9A5;
  border: none;
  cursor: pointer;
}

.main__block {
  width: 100%;
  margin: 100px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__inner {
  width: 45%;
  margin-right: 50px;
}

.main__img {
  width: 55%;
  position: relative;
}

.main__title,
.work__title,
.project__title,
.testimonial__title {
  font-weight: 800;
  font-size: 50px;
  color: #1C2323;
  margin: 0 0 25px 0;
}

.main__text {
  font-size: 20px;
  color: #404242;
  margin: 0 0 50px 0;
}

.main__button, .form__btn button {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 15px 45px;
  border-radius: 15px 15px 15px 0;
  background-color: #58A9A5;
  border: none;
  cursor: pointer;
}

.main__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.work__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.work__post-title {
  margin: 0 0 70px 0;
  font-size: 20px;
  color: #404242;
  width: 350px;
  text-align: center;
}

.work__inner {
  display: flex;
  width: 100%;
  margin: 0;
  height: 240px;
}

.work__img {
  width: calc(100% - 400px);
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.work__img-description {
  width: 400px;
  background-color: #CCF0E6;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work__img-text {
  width: 240px;
  font-weight: 400;
  font-size: 14px;
  color: #486958;
  line-height: 25px;
  margin-bottom: 25px;
}

.work__img-play {
  color: #486958;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
  position: relative;
  cursor: pointer;
}

.work__img-play img {
  position: absolute;
  width: 75px;
  height: 75px;
  top: -25px;
  left: -50%;
  cursor: pointer;
  transition: 0.3s;
}

.work__img-play img:hover {
  transform: scale(1.1);
}

.mission {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.mission__img {
  width: 40%;
  object-fit: cover;
  border-radius: 10px;
}

.mission__block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mission__title {
  margin: 0 0 50px 0;
  font-weight: 700;
  color: #1C2323;
  font-size: 30px;
  width: 70%;
}

.mission__text {
  font-size: 20px;
  width: 100%;
  color: #486958;
  line-height: 35px;
}

.mission__box {
  margin: 0 20px 0 100px;
}

.project__block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 200px;
}

.project__sub-title {
  margin: 0 0 100px 0;
  font-size: 20px;
  color: #404242;
  width: 350px;
  text-align: center;
  position: relative;
}

.project__sub-title:before, .project__sub-title:after {
  position: absolute;
  content: '';
  width: 100px;
  height: 5px;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #58A9A5;
}

.project__sub-title:after {
  bottom: -40px;
}

.project__examples {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.project__example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__example-box {
  margin: 0 auto;
  width: 80%;
}

.example-box__text {
  width: 100%;
  color: #486958;
  margin-bottom: 35px;
}

.example-box__img {
  object-fit: cover;
  border-radius: 0 0 225px 225px;
  width: 80%;
  margin: 0 auto;
}

.example-box__img:first-child {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.example-box__title {
  color: #58A9A5;
  font-weight: 500;
  font-size: 25px;
  margin: 0 0 5px 0;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.slider__img {
  width: 200px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.testimonial__block {
  margin-bottom: 200px;
}

.testimonial__title {
  text-align: center;
}

.testimonial__carousel {
  margin-bottom: 50px;
}

.testimonial__box {
  display: flex;
  height: 500px;
  width: 100%;
  align-items: center;
}

.testimonial__img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.info {
  width: 60%;
  height: 100%;
  background-color: #CCF0E6;
  border-radius: 0 10px 10px 0;
}

.info__block {
  width: 80%;
  margin: 50px auto 0;
}

.info__progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.info__progress-title {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 15px;
  width: 25%;
  color: #58A9A5;
  font-weight: 400;
}

.info__progress-title span {
  font-size: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 50px;
  font-weight: 700;
}

.info__text {
  font-size: 18px;
  font-weight: 400;
  color: #486958;
  margin-bottom: 40px;
  position: relative;
  transform-style: preserve-3d;
}

.info__text:after {
  content: '\201c';
  position: absolute;
  top: -70px;
  left: -35px;
  color: #FFFFFF;
  z-index: 0;
  font-size: 200px;
  transform: translateZ(-1px);
  font-family: 'Port Lligat Sans', sans-serif;
}

.info__author {
  font-size: 20px;
  font-weight: 400;
  color: #58A9A5;
}

.contact__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 300px;
  margin-bottom: 80px;
}

.contact__inner {
  width: 30%;
  margin-right: 20px;
}

.contact__form {
  width: 70%;
  border: 1px solid #486958;
  border-radius: 10px;
}

.form__block {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.contact__title {
  font-weight: 800;
  font-size: 50px;
  color: #1C2323;
  margin: 0 0 5px 0;
}

.contact__text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #486958;
  position: relative;
}

.contact__text:before, .contact__text:after {
  position: absolute;
  content: '';
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: #58A9A5;
  bottom: -30px;
  left: 0;
}

.contact__text:after {
  bottom: -40px;
}

.form__input, .form__input::placeholder, .form__block label {
  font-size: 18px;
  font-weight: 400;
  color: #486958;
  border: none;
  padding: 10px 0;
}

.form__input {
  margin-top: 20px;
  border-bottom: 1px solid #000000;
}

*:focus {
  outline: none;
}

.form__block label {
  margin-bottom: 10px;
}

.form__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.footer__block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.footer__title {
  font-size: 15px;
}

.nav__inner svg {
  display: none;
}

@media screen and (max-width: 1140px){
  .main__title, .work__title, .project__title, .testimonial__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px){
  .nav.show {
    height: 100%;
    overflow: hidden;
  }

  .nav__logo span {
    padding: 0 40px 0 0;
  }

  .nav__button {
    padding: 10px 25px;
  }

  .burger {
    width: 50px;
    position: relative;
    cursor: pointer;
  }

  .burger__line {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #58A9A5;
    position: absolute;
    top: 50%;
    left: 2px;
    transition: 0.3s;
  }

  .burger .burger__line:nth-child(1) {
    top: calc(50% + 10px)
  }

  .burger .burger__line:nth-child(2) {
    top: calc(50% - 10px)
  }

  .burger.show .burger__line:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  .burger.show .burger__line:nth-child(3) {
    top: 50%;
    transform: translateX(-100%);
    opacity: 0;
  }

  .burger.show .burger__line:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }

  .nav__items {
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 150px);
    padding: 50px 0;
    top: 56px;
    left: 0;
    transition: 0.3s;
    opacity: 0;
    display: none;
  }

  .nav__items.show {
    opacity: 1;
    display: flex;
  }

  .nav__item {
    margin: 0;
    width: 150px;
    height: 25%;
    font-size: 30px;
  }
}

@media (min-width: 640px) and (max-width: 768px){

  .main__title, .work__title, .project__title, .testimonial__title {
    font-size: 30px;
  }

  .mission {
    margin-bottom: 60px;
  }

  .mission__box {
    margin: 0 20px 0 40px;
  }

  .mission__title {
    margin: 0 0 30px 0;
    width: 100%;
  }

  .mission__text {
    font-size: 14px;
  }

  .main__text {
    font-size: 16px;
    margin: 0 0 40px 0;
  }

  .mission__img {
    width: 45%;
  }

  .work__post-title {
    font-size: 16px;
    margin: 0 0 50px 0;
  }

  .work__inner {
    justify-content: space-between;
  }

  .work__img-description {
    width: 350px;
  }

  .work__img {
    width: calc(100% - 350px);
  }

  .work__img-play img{
    left: -93px;
  }

  .project__sub-title {
    font-size: 16px;
  }

  .example-box__title {
    font-size: 20px;
  }

  .project__block {
    margin-bottom: 60px;
  }

  .info__progress {
    margin-bottom: 50px;
  }

  .info__progress-title span {
    font-size: 40px;
  }

  .info__progress-title {
    width: 30%;
  }

  .info__text {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .contact__title {
    font-size: 35px;
  }

  .contact__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .main__block {
    flex-direction: column-reverse;
    margin: 75px 0 60px 0;
  }

  .main__img {
    width: 85%;
    margin-bottom: 30px;
  }

  .main__title, .work__title, .project__title, .testimonial__title {
    font-size: 25px;
  }

  .burger {
    width: 35px;
  }

  .main__inner {
    width: 100%;
    margin: 0 auto;
  }

  .main__text {
    font-size: 16px;
    margin: 0 0 30px 0;
  }

  .work__post-title {
    font-size: 16px;
    width: 300px;
    margin: 0 0 30px 0;
  }

  .work__inner {
    flex-direction: column-reverse;
    height: 100%;
  }

  .work__img-description {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

  .work__img {
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 5px;
    height: 150px;
  }

  .work__img-text {
    margin: 30px 0;
  }

  .work__img-play {
    margin-bottom: 30px;
  }

  .work__img-play img {
    left: 82px;
    top: 92px;
  }

  .work__block {
    margin-bottom: 75px;
  }

  .mission {
    flex-direction: column-reverse;
    margin-bottom: 75px;
  }

  .mission__box {
    margin: 0 0 20px 0;
  }

  .mission__title {
    margin: 0 0 30px 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
  }

  .mission__text {
    font-size: 16px;
  }

  .mission__img {
    width: 100%;
  }

  .project__block {
    margin-bottom: 75px;
  }

  .project__sub-title {
    font-size: 16px;
    margin: 0 0 75px 0;
    width: 100%;
  }

  .project__examples {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .project__example:nth-child(1), .project__example:nth-child(3) {
    display: flex;
    flex-direction: row-reverse;
  }

  .project__example:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
  }

  .project__example:nth-child(2) .example-box__img {
    margin: 0 0 0 20px ;
  }

  .example-box__title {
    font-size: 20px;
  }

  .example-box__img {
    width: 40%;
    border-radius: 50%;
    margin-right: 20px;
  }

  .testimonial__box {
    flex-direction: column-reverse;
    height: auto;
  }

  .info {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .info__block {
    width: 85%;
    margin: 50px auto 25px;
  }

  .info__text {
    font-size: 16px;
  }

  .info__text:after {
    font-size: 150px;
    top: -45px;
    left: -25px;
  }

  .info__progress-title span {
    font-size: 35px;
  }

  .info__progress-title {
    font-size: 12px;
  }

  .info__progress {
    justify-content: space-around;
    margin-bottom: 70px;
  }

  .info__author {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .testimonial__img {
    width: 100%;
    height: 150px;
    border-radius: 0 0 10px 10px;
  }

  .testimonial__block {
    margin-bottom: 75px;
  }

  .contact__block {
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
  }

  .contact__inner {
    width: 100%;
    margin-right: 0;
  }

  .contact__text {
    margin: 0 0 50px 0;
  }

  .contact__text:after {
    bottom: -30px;
  }

  .contact__text:before {
    bottom: -20px;
  }

  .contact__form {
    width: 100%;
  }
}